button {
  padding: .5rem 2rem;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
}

button:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}