.aside-container {
  margin-top: 3rem;
  background-color: hsl(240, 100%, 5%);

  border: 2px solid blue;
}

.aside-container h2 {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(35, 77%, 62%);
}

.news-container {
  padding: 1rem;
}

.line {
  height: .01rem;
  background: hsl(236, 13%, 42%);
}

.news h3 {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.5rem 0 1rem 0;
  color: hsl(36, 100%, 99%);
}

.news p {  
  padding-bottom: 2.5rem;
  color:hsl(233, 8%, 79%);
}