.App {
  position: relative;
  max-width: 20rem;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .App {
    max-width: 35rem;
  }
}

@media (min-width: 1024px) {
  .App {
    max-width: 60rem;
  }
}

@media (min-width: 1440px) {
  .App {
    max-width: 80rem;    
  }
}