:root {
  --primary-soft: hsl(35, 77%, 62%);
  --primary-heavy: hsl(5, 85%, 63%);
  --neutral: hsl(36, 100%, 99%);  
}

.navbar-container {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3rem;
}

.menu {
  width: 3rem;
  display: block;
}

.menu.active {
  display: none;
}

.close {
  width: 2rem;
  display: none;
}

.close.active {
  position: relative;
  display: block;
  z-index: 1;
}

.links-container {
  display: none;
}

.links-container.active {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 3rem;
  padding: 8rem 2rem 2rem 1.5rem;
  background-color: var(--primary-soft);
}

.links-container.active ul li {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  line-height: 3rem;
}


/* -------------- TABLET/LAPTOP/DESKTOP ------------------*/
@media (min-width: 768px) { 
    .menu {
      display: none;
    }

    .links-container {
      display: block;
    }

    .links-container ul li {  
      display: inline-block;
      padding-left: 1.5rem;
      font-family: 'Inter', sans-serif;      
    }

    a:hover {
      color: var(--primary-heavy);
    }
}

@media (min-width: 1440px) {
  .links-container ul li {
    padding-left: 3.5rem;
  }
}
